<img src='https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png' alt=""><br />
<strong>Olá, {{ student }}</strong>
<p>Você acabou de atualizar seu plano no GymPoint, confira os detalhes abaixo:</p>
<p>
	<strong>Seu novo plano: </strong> {{ plan }} <br />
	<strong>Data de término: </strong> {{ end_date }} <br />
	<strong>Preço mensalidade: </strong>R$ {{ mensal }} <br />
	<strong>Preço total: </strong>R$ {{ price }} <br />
	<br />
	<p>
		A atualização já foi efetuada! Agradecemos sua preferecia!
	</p>
</p>
