<img src='https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png' alt="">
<h1 style="font-weight: bold;">Olá, {{ student }}</h1>
<h3>Você deu um passo importante para sua saúde!</h3>
<p>Sua matricula foi realizada com sucesso no GymPoint, confira os detalhes abaixo:</p>

<p style = "max-width: 430px; ">
	<strong>Seu ID para login: </strong> {{ id }} <br />
	<strong>Você contratou o plano: </strong> {{ plan }} <br />
	<strong>Data de término: </strong> {{ end_date }} <br />
	<strong>Preço da mensalidade: </strong> {{ mensal }} <br />
	<strong>Preço total: </strong> R$ {{ price }}<br />
	<br />
	<p>
		Seja bem-vindo a sua nova academia. Agradeçemos a preferência.
	</p>
</p>
